{% extends 'usuarios/base.html' %}

{% block title %}Recuperar Senha - Sistema Web{% endblock %}

{% block content %}
<h2>Recuperar Senha</h2>
<p>Digite seu endereço de e-mail para receber o link de recuperação de senha.</p>

<form method="post" action="">
  {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}
